<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.susstore.mapper.AddressMapper">

    <insert id="addAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="addressId">
        insert into store."address" (belong_user_id,recipient_name,address_name,phone)
        values (#{belongToUserId},#{recipientName},#{addressName},#{phone}) returning address_id;
    </insert>

    <select id="ifExist" resultType="Address">
        select * from store."address" where
                                            recipient_name=#{recipientName}
                                        and phone=#{phone}
                                        and address_name=#{addressName}
                                        and  belong_user_id=#{userId};
    </select>


    <select id="getUserAddressById" parameterType="int" resultType="Address">
        select * from store."address" where belong_user_id=#{id};
    </select>

    <select id="getUserAddressByEmail" parameterType="String" resultType="Address">
        select * from store."address" join store."users"
            on store."address".belong_user_id=store."users".user_id
        where store."users".email= #{email};
    </select>

    <update id="updateAddress" parameterType="Address">
        update store."address"
            <set>
             belong_user_id=#{belongToUserId},
             recipient_name=#{recipientName},
             address_name=#{addressName},
             phone=#{phone}
            </set>
    where address_id= #{addressId}
    </update>

    <delete id="deleteAddress" parameterType="int">
        delete from store."address" where address_id=#{addressId}
    </delete>

    <select id="getAddress" parameterType="int" resultType="com.susstore.pojo.Address">
        select * from store.address where address_id = #{addressId};
    </select>

</mapper>