<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.susstore.mapper.GoodsMapper" >

    <select id="getDeal" resultType="Deal">
        select * from store.deal
        where deal_id=#{dealId} and seller_id =#{sellerId} and buyer_id = #{buyerId}
    </select>

    <insert id="addDeal" parameterType="Deal" useGeneratedKeys="true" keyProperty="dealId">
        insert into store.deal
        ( stage, goods_id, buyer_id, seller_id, mailing_number, shipping_address_id)
        values (#{stage},#{goodsId},#{buyerId},#{sellerId},
                null,-1)
        returning deal_id;
    </insert>


    <select id="getDealById">
        select * from store.deal where deal_id=#{dealId}
    </select>

</mapper>