<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.susstore.mapper.GoodsMapper" >
    
    <resultMap id="goods1" type="com.susstore.pojo.Goods">
        <id property="goodsId" column="goods_id1"/>
        <result property="price" column="price"/>
        <result property="title" column="title"/>
        <result property="introduce" column="introduce"/>
        <result property="isSell" column="is_sell"/>
        <result property="postage" column="postage"/>
        <result property="want" column="want"/>
        <result property="announceTime" column="announce_time"/>
        <result property="goodsState" column="goods_state"/>
        <result property="view" column="view"/>
        <association property="announcer" javaType="com.susstore.pojo.Users">
            <id property="userId" column="user_id"/>
            <result property="sign" column="sign"/>
            <result property="userName" column="user_name"/>
            <result property="gender" column="gender"/>
            <result property="credit" column="credit"/>
            <result property="picturePath" column="picture_path1"/>
        </association>
        <collection ofType="com.susstore.pojo.GoodsPicture" property="picturePath">
            <result column="path" property="path"/>
            <result column="is_default_picture" property="isDefaultPicture"/>
        </collection>
        <collection ofType="string" property="labels">
            <result column="labels"/>
        </collection>
    </resultMap>
<!--goods.goods_id goods_id1 ,view,price,title,is_sell,postage,want,announce_time,goods_state,
               user_id,sign,gender,credit,money,users.picture_path picture_path1,
               goods_picture.picture_path path, is_default_picture,content labels
        from store.goods join store.users
                              on goods_id = #{goodsId} and announcer_id = users.user_id
                         join store.goods_label on goods.goods_id = goods_label.goods_id
                         join store.label on goods_label.label_id = label.label_id
                         join store.goods_picture on goods.goods_id = goods_picture.goods_id and is_default_picture and goods_picture.is_activate-->
    <resultMap id="goods2" type="com.susstore.pojo.GoodsAbbreviation">
        <id property="goodsId" column="goods_id1"/>
        <result property="price" column="price"/>
        <result property="title" column="title"/>
        <result property="isSell" column="is_sell"/>
        <result property="postage" column="postage"/>
        <result property="want" column="want"/>
        <result property="view" column="view"/>
        <result property="announceTime" column="announce_time"/>
        <result property="goodsState" column="goods_state"/>
        <result property="picturePath" column="picture_path"/>
        <association property="announcer" javaType="com.susstore.pojo.Users">
            <id property="userId" column="user_id"/>
            <result property="sign" column="sign"/>
            <result property="userName" column="user_name"/>
            <result property="gender" column="gender"/>
            <result property="credit" column="credit"/>
            <result property="picturePath" column="picture_path1"/>
        </association>
        <collection ofType="string" property="labels">
            <result column="labels"/>
        </collection>
    </resultMap>
    

    <insert id="addGoods" parameterType="Goods" useGeneratedKeys="true" keyProperty="goodsId" keyColumn="goods_id">
        insert into store."goods"
            (title,price,introduce,announcer_id,want,
             announce_time,goods_state,is_sell,postage,view)
        values (#{title},#{price},#{introduce},#{announcer.userId},
                0,#{announceTime},#{goodsState},#{isSell},#{postage},0)
                returning goods_id;
    </insert>
    
    <insert id="addGoodsPicture" >
        insert into store.goods_picture(goods_id,picture_path,is_activate,is_default_picture) values (#{goodsId},
        <foreach collection="pictures" item="picture" separator=",">
            #{picture.path},true,#{picture.isDefaultPicture})
        </foreach>
    </insert>

    <insert id="addLabels">
        insert into store.label(content) values 
        <foreach collection="contents" item="content" separator=",">
            (#{content})
        </foreach>
    </insert>

    <select id="getLabelsId" resultType="Integer">
        select *
        from store.label where content in(
            <foreach collection="contents" item="content" separator=",">
                #{content}
            </foreach>
            )
    </select>
    
    <insert id="addGoodsLabels">
        insert into store.goods_label (goods_id, label_id) VALUES
        <foreach collection="labels" item="label" separator=",">
            (#{goodsId},#{label})
        </foreach>
    </insert>

    <delete id="deleteGoodsLabels">
        delete
        from store.goods_label
        where goods_id = #{goodsId};
    </delete>

    <update id="deactivateGoodsPicture">
        update store.goods_picture set is_activate = false where goods_id = #{goodsId} and is_activate = true;
    </update>

    <update id="updateGoods" parameterType="Goods">
        update store."goods"
        <set>
            <if test="price != null"> price=#{price},</if>
            <if test="introduce != null">introduce=#{introduce},</if>
            <if test="announcer != null">announcer_id=#{announcer.userId},</if>
            <if test="want != null">want=#{want},</if>
            <if test="announceTime != null">announce_time=#{announceTime},</if>
            <if test="goodsState != null">goods_state=#{goodsState},</if>
            <if test="title != null">title=#{title},</if>
            <if test="isSell != null">is_sell=#{isSell}</if>
        </set>
        where goods_id=#{goodsId}
    </update>

    <update id="deleteGoods" parameterType="int">
        update store.goods set goods_state = 1 where goods_id = #{goodsId};
    </update>

    <select id="queryGoodsById" parameterType="int" resultMap="goods1">
        select goods.goods_id goods_id1 ,view,price,title,introduce,is_sell,postage,want,announce_time,goods_state,
               user_id,sign,gender,credit,money,users.picture_path picture_path1,
               goods_picture.picture_path path, is_default_picture,content labels
        from store.goods
            join store.users
                on goods_id = #{goodsId} and announcer_id = users.user_id
            left join store.goods_label on goods.goods_id = goods_label.goods_id
            left join store.label on goods_label.label_id = label.label_id
            left join store.goods_picture on goods.goods_id = goods_picture.goods_id;
    </select>



    <select id="getGoodsPicturePath" resultType="com.susstore.pojo.GoodsPicture">
        select picture_path path,is_default_picture from store.goods_picture where goods_id = #{goodsId} and is_activate = true;
    </select>

    <select id="getDefaultPicturePath" resultType="String">
        select picture_path from store.goods_picture where goods_id = #{goodsId} and is_default_picture and is_activate;
    </select>

    <select id="getAnnounceUser" resultType="com.susstore.pojo.Users">
        select * from store.goods join store.users on  goods_id = #{goodsId} and goods.announcer_id = users.user_id;
    </select>

    <select id="queryGoodsByUserId" parameterType="int" resultMap="goods2">
        select goods.goods_id goods_id1 ,view,price,title,is_sell,postage,want,announce_time,goods_state,
               user_id,sign,gender,credit,money,users.picture_path picture_path1,
               goods_picture.picture_path path, is_default_picture,content labels
        from store.goods join store.users
                              on  announcer_id = users.user_id and store.goods.announcer_id = #{userId}
                         left join store.goods_label on goods.goods_id = goods_label.goods_id
                         left join store.label on goods_label.label_id = label.label_id
                         left join store.goods_picture on goods.goods_id = goods_picture.goods_id and is_default_picture and goods_picture.is_activate;
    </select>

    <select id="getBelongUserId" parameterType="int" resultType="int">
        select store."users".user_id from
                    store."goods" join store."users"
                    on store."goods".announcer_id=store."users".user_id
        where store."goods".goods_id= #{goodsId};
    </select>
    
    <select id="searchGoods" parameterType="map" resultMap="goods2">
        select goods.goods_id goods_id1 ,view,price,title,is_sell,postage,want,announce_time,goods_state,
               user_id,sign,gender,credit,money,users.picture_path picture_path1,
               goods_picture.picture_path path, is_default_picture,content labels
        from store.goods join store.users
                              on  goods.announcer_id = users.user_id
                                  and title like concat('%',#{searchContent,jdbcType=VARCHAR},'%')
                         left join store.goods_label on goods.goods_id = goods_label.goods_id
                         left join store.label on goods_label.label_id = label.label_id
                         left join store.goods_picture on goods.goods_id = goods_picture.goods_id and is_default_picture and goods_picture.is_activate

        order by goods.goods_id offset (${pageSize}*(${pageIndex}-1)) limit #{pageSize} ;
    </select>

    <select id="ifOnShelfById" resultType="int">
        select goods_state from store.goods where goods_id=#{goodsId};
    </select>

    <select id="getGoodsComments" resultType="GoodsComment">
        select comment_id,content,user_name,user_id,picture_path,comment_date
               from store.goods_comment join store.users on belong_goods_id = #{goodsId} and comment_user_id=users.user_id
                order by comment_id;
    </select>

    <update id="increaseWant" >
        update store.goods set want = want+1 where goods_id = #{goodsId}
    </update>

    <update id="increaseView" >
        update store.goods set view = view+1 where goods_id = #{goodsId}
    </update>

    <insert id="commentGoods">
        insert into store.goods_comment(content, comment_user_id, comment_date, belong_goods_id)
        VALUES (#{content},#{userId},#{date},#{goodsId});

    </insert>


    <delete id="deleteGoodsComment">
        delete
        from store.goods_comment
        where comment_id = #{commentId};
    </delete>

    <select id="whetherCanDeleteComment" resultType="Integer">
        select comment_id from store.goods_comment
            join store.goods g
                on g.goods_id = goods_comment.belong_goods_id and goods_comment.comment_id = #{commentId}
            where announcer_id = #{userId} or comment_user_id = #{userId};
    </select>

    <insert id="addGoodsComplain">
        insert into store.complain_goods (goods_id, complainer_id, content, picture_path,is_process)
        values (#{goodsId},#{complainerId},#{content},#{picturePath},false);
    </insert>

    <select id="getRandomGoods" resultMap="goods2">
        select goods.goods_id goods_id1 ,view,price,title,is_sell,postage,want,announce_time,goods_state,
               user_id,user_name,sign,gender,credit,users.picture_path picture_path1,
               goods_picture.picture_path path, is_default_picture,content labels
        from store.goods join store.users
                              on announcer_id = users.user_id and goods.goods_id in (select goods_id from store.goods where goods_state = 0 offset random() *
                                                                                                                                                   (select count(*) from store.goods where goods_state = 0) limit 10)
                         left join store.goods_label on goods.goods_id = goods_label.goods_id
                         left join store.label on goods_label.label_id = label.label_id
                         left join store.goods_picture on goods.goods_id = goods_picture.goods_id and is_default_picture and goods_picture.is_activate;
   </select>

    <insert id="addGoodsComment" parameterType="com.susstore.pojo.GoodsComment" useGeneratedKeys="true" keyProperty="commentId">
        insert into store.goods_comment (content, comment_user_id, comment_date, belong_goods_id) values
            (#{content},#{userId},#{commentDate},#{goodsId}) returning comment_id
    </insert>

    <select id="getAnnouncerId" resultType="Integer">
        select announcer_id from store.goods where goods_id = #{goodsId};
    </select>

    <select id="getGoodsTotalPrice" resultType="Float">
        select (price+postage)
        from store.goods
        where goods_id = #{goodsId};
    </select>

</mapper>