<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.susstore.mapper.SignMapper">

    <select id="login" parameterType="map" resultType="int">
        select user_id from store.users where email=#{email} and password=#{password}
    </select>

    <select id="getUserByEmail" parameterType="String" resultType="com.susstore.pojo.Users">
        select user_id,password,slat from store.users where email=#{email}
    </select>

    <select id="getRolesByUserId" parameterType="int" resultType="com.susstore.pojo.Role">
        select ur.role_id role_id, name from store.role join store.user_role ur on role.role_id = ur.role_id
        where user_id = #{userId}
    </select>

    <insert id="addRoleToUser" parameterType="map" >
        insert into user_role (role_id, user_id) values (#{roleId},#{userId});
    </insert>

</mapper>